.background {
    background-color: #76b852;
}


.content-box {
    box-sizing: content-box;
    width: 270px;
    padding: 45px;
    background: white;
    margin: 200px 10px 0px 500px;
    box-shadow: 1px 3px 5px;
} 

.email {
    width: 100%;
    padding: 15px;
    height: 45px;
    outline: none;
    background: #f2f2f2;
    box-sizing: border-box;
    border: none;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;

}
.password {
    width: 100%;
    padding: 15px;
    height: 45px;
    background: #f2f2f2;
    box-sizing: border-box;
    border: none;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

.LOGIN {
    width: 100%;
    padding: 15px;
    height: 45px;
    background: #4CAF50;
    box-sizing: border-box;
    color: white;
    border: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

